/* Reseteo */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none; 
    /* align-items: center; */
}

.header{
    width: 100%;
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

}
.header nav{
    display: flex;
    padding: 2rem;
    gap: 1rem;
    justify-content: flex-end;
    width:100%;
}
.header nav img{
    height: 25px;
}

.body_index{
    background-color: rgba(184, 184, 184, 0.563);
    display: flex;
    justify-items: center;
    align-items: center;
    /* width: 95%; */
}
.c_container { 
    justify-content: center;
    /* align-items: flex-end; */
    margin: 3rem;
    display: flex; 
    flex-wrap: wrap;
    gap: 2rem; 
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border: solid 3px rgb(243, 241, 241);
    border-radius: 1rem;
    padding: 20px;
    width: 400px;
    /* height: 500px; */

    background-color: rgba(252, 251, 249, 0.99);
    box-shadow: 0 5px 10px rgba(100, 98, 98, 0.473);
    cursor: pointer;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 0 5px 10px rgba(169, 24, 24, 0.811);
    transform: scale(1.03);
    /* box-shadow: 0px 0px 20px 3px rgb(86, 74, 189); */
}

.card .img{
    width: 250px;
    background-position: center;
    background-size: cover; /* Ajusta el tamaño de la imagen para que se quede dentro del contenedor */
    background-repeat: no-repeat;
    /* padding: 6px; */
}

.card .c_titulo{
    text-align: center;
    /* color: rgb(132, 16, 16); */
    color: white;
    font-weight:bolder;
    padding: 0.5rem;
    background-color: brown;
    width: 100%;
    border-radius: 0.5rem;
}
.card .precio{
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: brown ;
    border-radius: 50%;
    size: 20px;
    font-weight: bold;
}

.card .parrafo{
    width: 95%;
    text-align: center;
    line-height: 1.5;
    color: #121111;
    size: 15px;
    padding: 1rem 0.2rem;
}

.boton_compra{
    background-color: rgb(46, 42, 40);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
   

    border-radius: 0.2rem;
    padding: 8px 12px;
    box-shadow:  4px 4px 4px rgba(82, 0, 0, 0.343);
}